@import "./base/utils";
@import "./base/base";
@import "./base/normalize";
@import "./base/typography";
@import "./common-styles/header-2";
@import "./common-styles/footer-2";

*,
::after,
::before {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

}

.service-center {

    &__content {
        display: flex;
    }

    &__bg {
        height: 1000px;
        top: -150px;
        left: 0;
        position: absolute;
        display: block;
        z-index: -1;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__robot {
        width: 50%;
        position: relative;
    }

    &__robot-img {
        position: absolute;
        right: -175px;
        top: -143px;
        z-index: -1;

    }
    &__title {
        font-family: 'Nasalization';
        font-style: normal;
        font-weight: 400;
        font-size: Clamp(90px, 7.7vw, 26px);
        line-height: 100%;
        text-transform: uppercase;
        color: #233146;
    }

    &__form {
        margin-top: 52px;
        margin-bottom: 80px;
        width: 100%;
        flex-direction: column;
        color: #939393;

        div {
            display: flex;
            flex-direction: column;
        }
   }

   &__input {
        background: #F1F1F1;;
        border:  solid 1px rgba(224,54,56, 0);
        border-radius: 15px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: Clamp(16px, 7.5vw, 27px);
        line-height: 114%;
        display: flex;
        align-items: center;
        color: #181818;
        padding: 23px 28px;
        margin-bottom: 16px;
        transition: all .2s linear;;

        &:hover {
            border: solid 1px rgba(224,54,56, 1);
        }
    }

    &__textarea {
        padding: 18px 63px 92px 26px;
        margin-bottom: 16px;
        resize: none;
    }

    &__button {
        cursor: pointer;
        background: $YRed;
        
        padding: 24px 42px 17px;
        border-radius: 15px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: Clamp(20px, 7.7vw, 28px);
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F1F1F1;
        transition: .2S linear; 

        &:hover{
            background-color:  $YBlack;
           
        }

   }
}

.services {
    // background: url('../assets/images/page_2/main-page/bg_service.png') no-repeat;
    background: linear-gradient(180deg, #274569 0%, #1E2329 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__content {
        padding-top: 54px;
        padding-bottom: 120px;
        
    }

    &__title {
        font-family: 'Montserrat';
       
        font-weight: 700;
        font-size: Clamp(23px, 7.3vw, 62px);
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 43px;
        @include nmd {
            font-size: 37px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        box-sizing: border-box;
        padding: 12px 23px 23px;
        & a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            & p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
                color: #FFFFFF;
                font-size: Clamp(20px, 2vw, 30px);
                text-shadow: 0px 0px 63px #000000;
               
            }
        }

        &._armchairs {
            border-radius: 29px;
            width: 100%;
            height: Clamp(224px, 23vw, 380px);
            background: url("/assets/images/main-page/armchairs.png") no-repeat;
            background-size: cover;
            margin-bottom: 19px;
            & p {
                position: absolute;
                bottom: 0;
                
            }
            @include nmd {
                background-size: contain;
            }
        }
        &._simulators {
            background:url("/assets/images/main-page/simulators.png") no-repeat;
            background-size: cover;
            width: 48.2%;
            height: Clamp(177px, 18vw, 289px);
            border-radius: 22.6px;
            & p {
                padding-left: 0;
                
            }
            @include nmd {
                background-size: contain;
            }
        }
        &._treadmills {
            background:url("/assets/images/main-page/treadmills.png") no-repeat;
            background-size: cover;
            width: 50.2%;
            height: Clamp(177px, 18vw, 289px);
            border-radius: 22.6px;
            & p {
                position: absolute;
                bottom: 0;
            }

            @include nmd {
                background-size: contain;
            }
        }
    }

    &__item:hover {
        transform: scale(1.02);
        transition: .2S linear;
    }
}
.advantages  {
    background: #1E242A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    padding: 54px 0 117px;

    &__title {
        font-family: 'Montserrat';      
        font-weight: 700;
        font-size: Clamp(26px, 7.3vw, 70px);
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 13px;
        color: #FFFFFF;
        text-align: center;       
        @include nlg {
            font-size: 37px;
            
        }
    }

    &__subtitle {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 81px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px 40px;
        
        
    }

    &__item {
        & img {
            height: 70px;
            width: 70px;
            margin-bottom: 26px;
        }
        
        
    }

    &__item-subtitle {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: Clamp(18px, 1.7vw, 22px);
        line-height: 122%;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    &__text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: Clamp(13px, 1vw, 18px);
        line-height: 178%;
        color: #FFFFFF;
        
    }
}

.order {
    background-color: #1E242A;
    padding: 35px 0 83px;

    &__content {
        position: relative;
    }

    &__image {
        max-width: 41%;
        // height: 100%;
        position:absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        & img {
            width: 100%;
        }
        @include nmd {
            max-width: unset;
            position: static;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: Clamp(26px, 7.3vw, 40px);
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 65px;
    }

    &__list {
        box-sizing: border-box;
        max-width: 54.2%;
        position: relative;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: Clamp(16px, 7.1vw, 20px);
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 89px;
        // list-style-type: none;
        padding-left: 0;
        @include nmd {
            // width: 100%;
            max-width: unset;
        }

        & li {
            // font-family: 'Montserrat';
            // font-weight: 400;
        
            // line-height: 160%;
            // color: #FFFFFF;
            // line-height: 32px;
            ul {
                padding-left: 20px;
            }
            @include nlg {
                font-size: Clamp(15px, 1vw, 19px);
            }
            @include nmd {
                font-size: 18px;
            }
            & br {
                @include nmd {
                    display: none;
                }
            }
        }
    }

    &__item {
        &__title {
            display: block;
            margin-bottom: 10px;
           
            
        }
        &:not(:last-of-type) {
            margin-bottom: 32px;
        }
    }   
    
    

    &__item {
        &__list {
            & li {
                list-style-type: disc;
               
            }
        }
    }
        

    &__text {
        font-family: 'Montserrat';
      
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;

        color: #FFFFFF;
        @include nmd {
            margin-bottom: 20px;
        }
    }
}
.price {
    padding-top: 59px;
    padding-bottom: 103px;
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 51px;
        text-align: center;
    }
    &__table {
        color: #000000;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
       
    }

    &__header {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: $color-black;
        padding-bottom: 27px;
    }

    &__column {
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        
        
    }

    &__subcolumn {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: $color-black;
        padding: 6px 0;
        &:nth-child(odd) {
            background-color: #000;
        }
    }

    &__table-text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: Clamp(14px, 1.5vw, 18px);
        line-height: 178%;
        color: black;
    }

    ._bold {
        font-weight: 600;
        font-size: Clamp(20px, 2vw, 22px);
        line-height: 27px;
        text-align: left;
    }
}  

.details {
    background-color:  #2395FF;
    padding-top: 75px;
    padding-bottom: 94px;
    &__content {
        padding: 0 35px 0 35px;
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: Clamp(30px, 77.1vw, 50px);
        line-height: 100%;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 81px;

    }
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 40px;
    }

}

.faq {
    background: #1E242A;
    padding: 68px 0 170px;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 46px;
        line-height: 110.69%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 29px;
    }

    &__list {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 26px;
        line-height: 110.69%;
        font-variant: small-caps;
        color: #FFFFFF;
    }

    &__question {
        position: relative;
        
    }

    &__item {
        position: relative;
        cursor: pointer;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 26px;
        line-height: 110.69%;
        font-variant: small-caps;
        color: #FFFFFF;
        transition: all .2s linear;
    }


    &__item:not(:last-of-type) {
        margin-bottom: 35px;
    }

    &__question::after {
        position: absolute;
        top: 0;
        right: 0;
        content: url("/assets/images/main-page/arrow-white.svg");
        transform: rotate(0deg);
        transition: transform .2s ease-in;
    }

    ._active::after {
        transform: rotate(90deg);
        transition: transform .2s ease-in;
    }


    &__text {
       
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 14px 0 22px;
        overflow: hidden;
      
        opacity: 0;
        transition: all .2s linear;
        max-height: 0;
        // &._active {
        //     position: static;
        //     opacity: 1;
        //     transition: opacity .2s linear;
        // }
    }
}
.contacts {
    background: #1E242A;
    padding: 85px 0 114px;
    &__content{
        display: flex;
        justify-content: space-between;
        @include nmd {
            flex-direction: column;
        }
        
    }

    &__wrapper {
        max-width: 718px;
        @include nlg {
            margin-right: 10px;
            align-self: center;
        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: Clamp(20px, 2.2vw, 30px);
        line-height: 160%;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 17px 0 19px;

        &._centers::before {
            content: url("/assets/images/main-page/location-black.svg");
            margin-right: 15px;
        }
        &._hours::before {
            content: url("/assets/images/main-page/time.svg");
            margin-right: 15px;
        }
        &._trade-in::before {
            content: url("/assets/images/main-page/trade-in.svg");
            margin-right: 15px;
        }
        @include nlg {
            font-size: 23px;
        }
        
    }

    &__brands-wrapper {
        padding: 17px 50px;
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    &__working-hours-wrapper {
        padding: 4px 29px 34px;
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    
    &__link {
        text-decoration: underline;

        &:hover {
            color: $YRed;
            transition: all .2s;
        }
    }

    &__brands-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            @include nlg {
                width: 25%;
            }
           
        }
    }
    &__brands-item {
        img {
            @include nlg {
                object-fit: contain;
                width: 100%;
            }
           
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: $YBlack;
        a {
            color: $YBlack;
            &:hover {
                color: $YRed;
                transition: all .2s;
            }
        }

        &._bold {
            font-weight: 700;
        }
        @include nlg {
            font-size: 16px;
        }
        br {
            @include nlg {
                display: none;
            }
        }
            
        
    }

    &__trade-in-wrapper {
        padding: 17px 54px 34px 29px;
        background: #FFFFFF;
        border-radius: 15px;
    }

    &__phone-wrapper {
        text-align: center;
        background: #383838;
        border-radius: 15px;
        padding: 29px 29px  24px;
        margin-bottom: 20px;
        
        @include nmd {
            margin: 20px 0;
        }

        a {
            display: block;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: Clamp(38px, 3.5vw, 50px);
            line-height:170%;
            text-decoration-line: underline;
            color: #FFFFFF;

            &:hover {
                transition: all .1s;
                scale: 1.01;
            }

            @include nlg {
                font-size: 30px;
            }
        }

        p {
            display: flex;
            justify-content: center;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }

        p::before {
            content: url("/assets/images/main-page/phone.svg");
            margin-right: 28px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 15px;
        padding: 15px 20px;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #939393;
    }

    &__textarea {
        resize: none;
        padding: 17px 20px 176px;
        @include nlg {
            padding-bottom: 143px;
        }
    }

    &__button {
        padding: 17px 143px;
        background: #E03638;
        border-radius: 15px;
        font-family: 'Montserrat';
        color: #FFFFFF;
        font-weight: 400;
        font-size: 22px;
        line-height:100%;
        cursor: pointer;
    }
}

