@import "./base/utils";
@import "./base/base";
@import "./base/normalize";
@import "./base/typography";
@import "./common-styles/header-3";
@import "./common-styles/footer-3";

*,
::after,
::before {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

}

.service-center {
    margin: 0 auto;
    &__bg {
        height: 1844px;
        top: -143px;
        left: 0;
        position: absolute;
        display: block;
        z-index: -1;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        font-family: 'Gropled-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(20px,9vw,90px);
        line-height: 100%;
        text-transform: uppercase;
        color: $YGreyBlue;
        text-align: center;
        margin-bottom: 20px;
    }

    &__substring {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 65px; 
    }

    &__form {
        max-width: 612px;
        margin: 0 auto;
        margin-top: 45px;
        margin-bottom: 110px;
        width: 100%;
        // color: #939393;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    &__select {
        min-width: 222px;
        width: fit-content;
        cursor: pointer;
        padding: 7px 15px 7px 3px;
        border-radius: 5px;
        width: max-content;
        transition: .2S;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 29.6559px;
        line-height: 50%;
        display: flex;
        align-items: center;
        color: $YGreyBlue;

        &:hover {
            background-color: $YBadWhite;
        }
     
        &::before {
            content: url("/assets/images/page_3/icon_location.svg");
            margin-right: 13px;
        }
        &::after {
            content: url("/assets/images/page_3/arrow-down.svg");
            margin-left: 13px;
            transform: rotate(0deg);
        }  
    }

    &__city-list {
        background-color: $YBadWhite;
        visibility: hidden;
        opacity: 0;
        border-radius: 5px;
        margin-top: -7px;
        padding-top: 7px;
        overflow-y: scroll;
        height: 272px;
        position: absolute;
        width: 100%;
    }

    ._city-list_active {
        opacity: 1;
        animation: wrapper .2s ease;
        visibility: visible;
        position: inherit;
    }

    &__list-item {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $YGreyBlue;
        margin-left: 2px;
        padding-left: 12px;
        margin-right: 14px;
        padding-bottom: 5px;
        padding-top: 4px;
        cursor: pointer;

        &:hover {
            background: rgba(224,54,56, 1);
            border-radius: 5px;
        }
    }

    &__choose-city {
        position: absolute;
        width: fit-content;
    }

    &__city-choice {
        position: relative;
        min-width: 220px;
        min-height: 45px;
    }

    &__phone {
        padding: 5px 16px;
        margin-right: -8px;
        border-radius: 5px;

        &:hover {
            background-color: #f1f1f1;  
            transition: all .2S;
        }

        a {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 700;
            font-size: 33.6947px;
            line-height: 57px;
            display: flex;
            align-items: center;
            text-decoration-line: underline;
            color: #233146;
            
            
        }
    }

   &__input {
        &::placeholder {
            color: $YBlack;
        }
        background: $YRealWhite;
        border: solid 1px  #00418C;
        border-radius: 15px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: Clamp(16px, 7.5vw, 31px);
        line-height: 36px;
        padding: 23px 28px;
        margin-bottom: 16px;
        color: $YBlack;
        transition: all .2s linear;
        
        &:hover {
            border: solid 1px rgba(224,54,56, 1);
        }
    }

    &__myinput {
        width: 200px;
        height: 200px;
        color: red;
    }

    &__textarea {
        padding: 18px 63px 92px 26px;
        margin-bottom: 16px;
        resize: none;
    }

    &__button {
        cursor: pointer;
        background: $YRed;
        padding: 24px 42px 17px;
        border-radius: 15px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: Clamp(20px, 7.7vw, 28px);
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F1F1F1;
        transition: .2S linear; 

        &:hover{
            background-color:  $YGreyBlue;
           
        }

   }
}

.services {

    &__content {
        padding-top: 54px;
        padding-bottom: 131px;  
    }

    &__title {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: Clamp(23px, 7.3vw, 62px);
        line-height: 100%;
        text-align: center;
        color: $YBlack;
        margin-bottom: 35px;

        @include nmd {
            font-size: 37px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        box-sizing: border-box;
        padding: 12px 23px 23px;
        & a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            & p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
                color: #FFFFFF;
                font-size: Clamp(20px, 2vw, 30px);
                text-shadow: 0px 0px 63px #000000;
               
            }
        }

        &._armchairs {
            border-radius: 29px;
            width: 100%;
            height: Clamp(224px, 23vw, 380px);
            background: url("/assets/images/main-page/armchairs.png") no-repeat;
            background-size: cover;
            margin-bottom: 19px;
            & p {
                position: absolute;
                bottom: 0;
                
            }
            @include nmd {
                background-size: contain;
            }
        }
        &._simulators {
            background:url("/assets/images/main-page/simulators.png") no-repeat;
            background-size: cover;
            width: 48.2%;
            height: Clamp(177px, 18vw, 289px);
            border-radius: 22.6px;
            & p {
                padding-left: 0;
                
            }
            @include nmd {
                background-size: contain;
            }
        }
        &._treadmills {
            background:url("/assets/images/main-page/treadmills.png") no-repeat;
            background-size: cover;
            width: 50.2%;
            height: Clamp(177px, 18vw, 289px);
            border-radius: 22.6px;
            & p {
                position: absolute;
                bottom: 0;
            }

            @include nmd {
                background-size: contain;
            }
        }
    }

    &__item:hover {
        transform: scale(1.02);
        transition: .2S linear;
    }
}
.advantages  {
    background-color: $YRealWhite;
    padding: 54px 0 117px;

    &__title {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 10px;
        color: $YBlack; 

        @include nlg {
            font-size: 37px;
            
        }
    }

    &__subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: $YBlack;
        margin-bottom: 81px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px 40px;
        
        
    }

    &__item {
        & img {
            height: 70px;
            width: 70px;
            margin-bottom: 26px;
        }
        
        
    }

    &__item-subtitle {
        font-family: 'Arial';
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        color: $YBlack;
        margin-bottom: 10px;
    }

    &__text {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: $YBlack;   
        padding-right: 30px;    
    }
}

.order {
    background-color: $YRealWhite;
    padding: 35px 0 83px;

    &__content {
        position: relative;
    }

    &__image {
        max-width: 41%;
        // height: 100%;
        position:absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        & img {
            width: 100%;
        }
        @include nmd {
            max-width: unset;
            position: static;
        }
    }

    &__title {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        color: $YBlack;
        margin-bottom: 85px;
        text-align: center;
    }

    &__list {
        box-sizing: border-box;
        max-width: 70%;
        position: relative;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;        
        font-size: Clamp(16px, 7.1vw, 20px);
        line-height: 32px;
        color: $YBlack;
        margin-bottom: 89px;
        padding-left: 0;

        @include nmd {
            max-width: unset;
        }

        li {          
            ul {
                padding-left: 3px;
            }
            @include nlg {
                font-size: Clamp(15px, 1vw, 19px);
            }
            @include nmd {
                font-size: 18px;
            }
            br {
                @include nmd {
                    display: none;
                }
            }
        }
    }

    &__item {
        margin-left: 25px;
        &__title {
            display: block;
            margin-bottom: 10px;   
           

        }

        &__descr {
            margin-left: -25px;
        }

        &:not(:last-of-type) {
            margin-bottom: 28px;
        }
    }   
    
    

    &__item {

        &__list {

            & li {
                list-style-type: disc;
               
            }
        }
    }
        

    &__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $YBlack;
        // margin-left: -24px;
        @include nmd {
            margin-bottom: 20px;
        }
    }
}

.details {
    background-color:  $YRealWhite;
    padding-top: 75px;
    padding-bottom: 94px;
    &__content {
        padding: 0 35px 0 35px;
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        color: $YSovsemBlack;
        text-align: center;
        margin-bottom: 81px;
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #181818;
        text-align: center;        
        padding-bottom: 40px;
    }
}

.faq {
    background: $YRealWhite;
    padding: 68px 0 170px;

    &__title {
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 46px;
        line-height: 110.69%;
        text-transform: uppercase;
        color: $YBlack;
        margin-bottom: 29px;
    }

    &__question {
        position: relative;
        
    }

    &__item {
        position: relative;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: Clamp(26px, 7.1vw, 18px);
        line-height: 110.69%;
        font-variant: small-caps;
        color: $YBlack;
        cursor: pointer;
        transition: all .2s linear;
    }

    &__item:not(:last-of-type) {
        margin-bottom: 35px;
    }

    &__question::after {
        position: absolute;
        top: 0;
        right: 0;
        content: url("/assets/images/page_3/icon_black_arrow.svg");
        transform: rotate(0deg);
        transition: transform .2s ease-in;
    }

    ._active::after {
        transform: rotate(90deg);
        transition: transform .2s ease-in;
    }


    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $YBlack;
        margin: 14px 0 22px;
        overflow: hidden;
        opacity: 0;
        transition: all .2s linear;
        max-height: 0;
    }
}

.contacts {
    color: $YBlack;
    background-color: #DBE6EB;
    padding-top: 86px;
    padding-bottom: 124px;

    &__wrapper {
        display: grid;
        grid-template-columns: 55.85% 42.3%;
        grid-template-rows: repeat(3, auto);
        column-gap: 19px;
        row-gap: 20px;
        grid-template-areas: 
        "A D"
        "B E"
        "C E";

        @include nmd {
            grid-template-columns: 100%;
            grid-template-areas: 
            "A"
            "B"
            "C"
            "D"
            "E";
        }
    }

    &__brands-wrapper {
        grid-area: A;
        padding: 20px 33px;
        @include contacts-wrapper;

       

    }

    &__working-hours-wrapper {
        grid-area: B;
        padding: 17px 73px  34px 29px;
        @include contacts-wrapper;

        @include nlg {
            padding-right: 0;
        }
       
    }

    &__trade-in-wrapper {
        grid-area: C;
        padding: 17px 25px 33px 29px;
        @include contacts-wrapper;

        @include nlg {
            padding-right: 20px;
        }

    }

    &__link {
   
        text-decoration: underline;
        
    }
    

    &__phone-wrapper {
        grid-area: D;
        background-color: $YSeniorGray;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 16px 0;

        a {
            text-decoration: underline;
            margin-bottom: 16px;
            font-family: $font-arial;
            font-weight: 700;
            font-size: 50px;
            line-height: 85px;
            text-decoration-line: underline;
            color: $YRealWhite;
            transition: all .2s;

            &:hover {
                color: $YRed;
            }
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $YRealWhite;

            &::before {
                content: url("/assets/images/page_3/icon_phone.svg");
                margin-right: 28px;
            }
        }
    }



    &__form {
        grid-area: E;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 70px 70px auto 76px;
        row-gap: 16px;

        @include nlg {
            grid-template-rows: 55px 55px 55px auto 55px;
        }
    }

    &__input {
        background-color: $YRealWhite;
        border: 1px solid $YBadBlue;
        border-radius: 15px;
        font-family: $font-arial;
        font-weight: 400;
        font-size: Clamp(20px, 2.3vw, 31px);
        line-height: 36px;
        color: $YBlack;
        padding-left: 23px;

        &::placeholder {
            font-family: $font-arial;
            font-weight: 400;
            font-size: Clamp(20px, 2.3vw, 31px);
            line-height: 36px;
            color: $YBlack;
        }

        &:hover {
            border: 1px solid $YRed;
        }
    }

    &__textarea {
        padding-top: 17px;

        @include nmd {
            height: 167px;
        }
       
    }

    &__button {

        @include btns-3;
    }

    &__subtitle {
        font-family: $font-arial;
        font-weight: 400;
        font-size: Clamp(18px, 2.3vw, 30px);
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #000000;
        padding-bottom: 19px;
        &:nth-child(3) {
            margin-top: 21px;
        }
    }

    &__brands-list {
        display: flex;
        justify-content: space-between;
        padding-top: 7px;

        li {
            img {
                @include nlg {
                    width: 90%;
                }
            }
        }
    }

    &__text {
        font-family: $font-arial;
        font-weight: 400;
        font-size: Clamp(16px, 1vw, 18px);
        line-height: 29px;
        color: $YBlack;

        a {
            color: $YBlack;
            
            &:hover {
                color: $YRed;
            }
        }

        &:first-child {
            margin-bottom: 21px;
        }

       
    }
}