@font-face {
	font-family: 'Gilroy';
	src: url("/assets/fonts/gilroy-ultralight.woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Cy Grotesk';
	src: url("/assets/fonts/cy-grotesk-grand-dark.otf");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url("/assets/fonts/Gilroy-ExtraBold.otf");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Impact';
	src: url("/assets/fonts/ofont.ru_Impact.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Murecho';
	src: url("/assets/fonts/Murecho-Bold.ttf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}


@font-face {
	font-family: 'Montserrat';
	src: url("/assets/fonts/Montserrat-Regular.woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url("/assets/fonts/Montserrat-Medium.woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url("/assets/fonts/Montserrat-Bold.woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url("/assets/fonts/Montserrat-Black.woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
 @font-face {
	font-family: 'Montserrat';
	src: url("/assets/fonts/Montserrat-Light.woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Porsche';
	src: url("/assets/fonts/ofont.ru_Porsche.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Nasalization';
	src: url("/assets/fonts/nasalization-rg.otf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
